table, td {
    padding: 5px 5px;
}
th {
    padding: 20px 10px;
    text-transform: capitalize;
}
.header {
    text-transform: uppercase;
    margin: 10px 0px;
    width: 100%;
    color: teal;
}
.row.container {
    margin-top: 20px;
}
.material-icons.delete {
    cursor: pointer;
}
.file-path.validate {
    font-size: 11px!important;
}
#page-loader {
    display : none;

    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-image:url('./../../media/images/loader4.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    filter: alpha(opacity=40);
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
select {
    display: block;
}
i.icon-add-circle {
    color: teal;
}
.col.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.name-field {
    width: 45%;
}