{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="{% static 'css/store.css' %}" />
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<title>submit</title>
	</head>
	<body>
		<script src="{% static 'scripts/store.js' %}"></script>
		<!-- Page Content goes here -->
		<div class="row container">
			<div class="fixed-action-btn topright">
				<a class="btn-floating btn-large teal" href="/">
					<i class="large material-icons">home</i>
				</a>
			</div>
			<h5 class="header">Processed Data Of {{Filename}} :</h5>
			<div class="card-panel">
				<form enctype="multipart/form-data" id="confirmForm" name="confirmForm">
					{% csrf_token  %}
					<div id="confirm-wrapper"></div>
					<div id = "table-wrapper"></div>
					<input type="hidden" id="data" name="variable" value="{{Data}}">
					<input type="hidden" id="table_pages" name="variable" value="{{Table_pages}}">
					<div class="row"></div>
					<div class="row">
						<div class="col s12 center">
							<button class="btn waves-effect waves-light" type="submit" onClick="handleConfirm()">Confirm
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>