{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Upload Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'css/upload.css' %}" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <script src="{% static 'scripts/upload.js' %}"></script>
    <div id="page-loader"></div>
    <div class="row container">
      <div class="fixed-action-btn topright">
        <a class="btn-floating btn-large teal" href="/">
          <i class="large material-icons">home</i>
        </a>
      </div>
      <h5 class="header">Provide your data</h5>
      <div class="card-panel">
        <form method="post" enctype="multipart/form-data" id="upload-form" name="uploadForm" onsubmit="toggleLoader()">
          {% csrf_token  %}
          <div class="row row-mandatory-document">
            <table id="manadatory-table">
              <thead>
                <tr>
                  <select id="mandatory-documents" class="show" onchange="handleOnchange(this)"></select>
                </tr>
              </thead>
              <tbody class="mandatory-documents"></tbody>
            </table>
          </div>
          <div class="row"></div>
          <div class="row row-support-document">
            <div class="col valign-center" onclick="renderDropdownForSupportingDocuments()">
              <i class="material-icons icon-add-circle">add_circle</i>
              <span>Add Supporting Documents</span>
            </div>
            <div class="row"></div>
          </div>
          <div class="row">
            <div class="col right">
              <button class="btn waves-effect waves-light upload" type="submit" name="action">Upload
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>