{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Upload Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'css/upload_input_list.css' %}" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <script src="{% static 'scripts/upload_input_list.js' %}"></script>
    <div id="page-loader"></div>
    <div class="row container">
      <div class="fixed-action-btn topright">
        <a class="btn-floating btn-large teal" href="/">
          <i class="large material-icons">home</i>
        </a>
      </div>
      <h5 class="header">Provide your data</h5>
      <div class="card-panel">
        <form method="post" enctype="multipart/form-data" id="upload-form" name="uploadForm" onsubmit="toggleLoader()">
          {% csrf_token  %}
          <table id="upload-table">
            <thead>
              <tr>
                <th>document name</th>
                <th>file to upload</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

          <div class="row"></div>
          <div class="row">
            <div class="col s12 center">
              <button class="btn waves-effect waves-light upload" type="submit" name="action">Upload
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>